<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- Define the target(s) where logs will be written -->
  <targets>
    <!-- File target: logs are written to 'logs/logfile.txt' -->
    <target xsi:type="File" name="file" fileName="logs/logfile.txt"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
  </targets>
  
  <!-- Define rules to map loggers to targets -->
  <rules>
    <!-- Log everything from Info level and higher to the file target -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
